h3
{
  font-size: 25px !important;
  color: #4A148C;
}
.btn-info:hover
{
  background-color: rgb(147, 228, 147);
}
canvas
{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example
{
  from{box-shadow: 1px 1px 38px #ffbfd4;}
  to{box-shadow: 1px 1px 38px #9900b4;}
}